<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ro.upt.ac.sma.pricetracker">

    <application
        android:allowBackup="true"
        android:icon="@drawable/cart"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity android:name=".ProductAnalysisActivity"/>
        <activity android:name=".ProductActivity"
            android:theme="@style/Theme.PriceTracker"/>
        <activity
            android:name=".SearchActivity"
            android:theme="@style/Theme.PriceTracker.Default" />
        <activity
            android:name=".LoadingActivity"
            android:theme="@style/Theme.PriceTracker">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>